*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    animation: sliders 13s ease-in-out infinite;
    align-items: center;
    justify-content: center;
    display: flex;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: center;
    background-position: center center;
    background-size: cover;
  }


@keyframes sliders {
    0%{
        background-color: rgb(255, 0, 0);
    }
    5%{
        background-color: rgb(0, 0, 0);
    }
    10%{
        background-color: rgb(0, 170, 255);
    }
    15%{
        background-color: orange;
    }
    20%{
        background-color: purple;
    }
    25%{
        background-color: rgb(72, 5, 5);
    }
    30%{
        background-color: rgb(1, 16, 54);
    }
    35%{
        background-color: rgb(127, 75, 251);
    }
    40%{
        background-color: indianred;
    }
    45%{
        background-color: rgb(0, 0, 0);
    }
    50%{
        background-color: rgb(0, 170, 255);
    }
    55%{
        background-color: orange;
    }
    60%{
        background-color: purple;
    }
    65%{
        background-color: rgb(72, 5, 5);
    }
    70%{
        background-color: rgb(1, 16, 54);
    }
    75%{
        background-color: rgb(127, 75, 251);
    }
    80%{
        background-color: indianred;
    }
    
    
}

.intro1{
    background-color: black;
    height: 100vh;
    width: 100%;
    z-index: 10;
    position: absolute;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fade-out-left 2s forwards ease-in-out;
    animation-delay: 3s;
}

@keyframes fade-out-left{
from{
opacity: 1;
transform: translate3d(0, 0, 0);
}
to{
opacity: 0;
transform: translate3d(-100%, 0, 0);
}
}


.intro1 h2{
    animation: fade-in 2s forwards ease-in-out;
    font-weight: lighter;
}


@keyframes fade-in{
from{
opacity: 0;
}
to{
opacity: 1;
}
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-size: 3rem;
    text-align: center;
    margin-top: 1rem;
    animation: swivel-vertical 2.5s infinite ease-in-out;
    font-weight: lighter;
}

.main h1:nth-child(2){
    width: 40%;
}

.main h1:nth-child(1){
    font-weight: bold;
}

@keyframes swivel-vertical {
from {
transform: rotateX(0);
}
to {
transform: rotateX(360deg);
}
}

@keyframes swivel-horizontal-double {
from {
transform: rotateY(0);
}
to {
transform: rotateY(720eg);
}
}

video{
    background-color: none;
}


.words{
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
}

.words h1{
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    position: absolute;
    animation-delay: 2s;
    animation: fade-in 2s ease-in-out forwards;
}

@keyframes fade-in{
from{
opacity: 0;
}
to{
opacity: 1;
}
}